<!-- <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
       
        <h1 class="logo  mr-auto"> <img src="https://i.pinimg.com/originals/93/46/53/934653214719cf630e0f5cf9c746b364.png" alt=""
            width="30" height="24" class="d-inline-block align-text-top"><a href="#">Spotify</a></h1>
        <nav class="nav-menu d-none d-lg-block">
            <ul >
                <li class="active"><a href="#">Home</a></li>
                <li class="active"><a href="#">About</a></li>
                <li class="active"><a href="#">Services</a></li>
                <li class="active"><a href="#">Contact As</a></li>
            </ul>
        </nav>
    </div>
</header> -->

<div class="  fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark " style="background-color: black; color: white;">
        <a href="#" class="navbar-brand">
            <img src="https://i.pinimg.com/originals/93/46/53/934653214719cf630e0f5cf9c746b364.png" alt="" width="30" height="24" class="d-inline-block align-top"/>Spotify
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-lable="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="toggleMobileMenu">
        <ul class="navbar-nav text-center ">
            
            <li><a class="nav-link" href="#">Home</a></li>
            <li><a class="nav-link" href="#">Aboutas</a></li>
            <li><a class="nav-link" href="#">Services</a></li>
            <li><a class="nav-link" href="#">Contact As</a></li>
            
        </ul>
        
    </div>
    </nav>
</div>