<!-- 
<mat-toolbar color="primary">
    <span><mat-icon>language</mat-icon>Lets Play</span>
<div class="spacer"></div>
<a mat-button [routerLink]="['/navbar']">Home</a>
<a mat-button routerLink="services" routerLinkActive="router-link-active">Services</a>
<a mat-button routerLink="Contact" routerLinkActive="router-link-active">Contact</a>
<a mat-button routerLink="about" routerLinkActive="router-link-active">About Us</a>
<a mat-raised-button  [routerLink]="['/signup']" color="accent">Sign Up</a>
 -->

<!-- </mat-toolbar>  -->


<!-- <app-navbar></app-navbar> -->


 <app-tiny></app-tiny>
<router-outlet></router-outlet>
<app-sidespotify></app-sidespotify>
<app-footspotify></app-footspotify> 

<!-- <router-outlet></router-outlet> -->
<!-- <app-angularmat></app-angularmat> -->
<!-- <div class="container">
    <div class="row">
        <app-tiny></app-tiny>
    </div>
    <div class="row">
      <div class="col-2">
        <app-sidespotify></app-sidespotify>
      </div>
      <div class="col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  
  </div>
  <div class="row">
    <app-footspotify></app-footspotify>
  </div>  -->