/* .body{
    overflow: hidden;
}
.table{
    /* margin-left: 30px; */
    /* margin-top: 55px;
    width: 100%;
    left:-0;
    margin-left:405px;
    width:100%;
}
.card{
    width:300px;
    margin-top:65px;

}
.card-img-top{
    width: 30px;
    height: 30px;
}
.card-img{
   
    width:79%;
}
.bcontent{
    margin-left: 120px;
    margin-top: 50px;
   
}
.col-lg-6{
    padding:2px;
}

/* footer */
/* .color {
    background-color: black;
    color: white;
    margin-top: -16px;
    padding-top: 15px;
    margin-left:135px;
    margin-right: -144px;
}

.list{
    margin-right: 30px;
}
.container
{ */ 
    /* display: block !important; */
/* }
.navbar-brand{
    padding-top: 0;

}
.centerh2{
    margin-top: -2px;
}
.margin{
    margin-bottom: 25px;
}

/* header */

/* .dropdown{
    text-align: right;
}
h1{
    font-size: 5em;
}
.buttonstyle{
    margin-left: 74rem;
}
.margin-left{
    right: 0px;
    position: absolute
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    display: flex;

}
.card
{
    display:inline-block;
} 


.images{
    padding-left:5px;
    padding-right: 5px;
}  */

.body1{
    /* margin: 40px; */
    margin-top:     15px;
}
.card1{
    margin-right: 40px;
    width: inherit;
    margin-top: 50px;
    /* padding: 25px; */
}
img{
    /* padding-right: 10px; */
}